$color-brand: #3aa99d;
$color-bg: #E2E2E2;
$color-footer: #282828;
$color-footer-select: #191919;


$color-green: #00B2A5;
$color-lightgray: #C5C5C5;
$color-gray: #525252;
$color-dark1: #262626;
$color-dark2: #323232;
$color-fb: #3B5998;
$color-twitter: #4099FF;
$color-orange: #ef7741;