$color-brand: #00B2A5;
$color-bg: #E2E2E2;
$color-footer: #282828;
$color-footer-select: #191919;


$color-green: #00B2A5;
$color-lightgray: #C5C5C5;
$color-gray: #525252;
$color-dark1: #3F3F3F;
$color-dark2: #191919;
$color-fb: #3B5998;
$color-twitter: #4099FF;
$color-orange: #ef7741;