$brand-color: #26C281;
$bg-color: #E2E2E2;
$footer-color: #282828;
$footer-select-color: #191919;

$color-m: #333;
$color-j: #26C281;
//#64AB23

$nav-bar-height: 44px;

* {
  outline: none;
  box-sizing: border-box;
  line-height: 1.2;
}

html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  font-weight: normal;
  min-height: 100%;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgb(217, 219, 218);
  font-size: 14px;
}

.product-viewer {
  position: relative;
  max-width: 1000px;
  width: 100%;
  transform: translateZ(0);
}

.print-area-viewer {
  pointer-events: none;
}

.container {
  max-width: 1000px;
}

.move-handle {
  position: absolute;
  color: white;
  top: 0;
  right: -40px;
  height: 40px;
  width: 40px;
  background-color: $brand-color;
}

.delete-handle {
  position: absolute;
  left: -32px;
  top: 0;
  height: 32px;
  width: 32px;
  background-color: red;
  color: white;
}

.active > .configuration-boundary {
  stroke: $brand-color;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 1 2;
}

.configuration-handle {
  fill: white;
  stroke: $brand-color;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}

.nav-bar {
  background: $brand-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-bar-height;
}

//$settings-height: 224px;
$settings-height: 210px;

.header {
  opacity: 0.9;
  text-align: center;
  height: 50px;
  position: fixed;
  z-index: 15;
  color: white;
  background-color: $color-j;
  top: 0;
  width: 100%;

  .back-btn {
    position: absolute;
    display: block;
    left: 0;
    font-size: 30px;
    padding: 6px 15px;
    color: white;
  }

  > h2 {
    color: white;
    margin: 0;
    padding: 0.5em 0;
    font-size: 25px;
    text-rendering: "optimizeLegibility";
  }

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background: $color-m;

  a {

    &.disabled {
      opacity: 0.5;
    }

    i {
      margin-right: 7px;
    }

    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 33.33%;
    display: inline-block;
    color: white;
  }

}

.settings-header {
  background-color: rgba(15, 21, 29, 0.81);
  height: 30px;
  position: absolute;
  width: 100%;
  z-index: 3;
  color: white;

  .default-options {
    padding-left: 0.5em;
    display: none;
  }

  &.active {
    .default-options {
      display: inline-block;
    }
    .back-btn {
      display: none;
    }

  }

  a {
    color: white;
    padding: 7px 8px;
    display: inline-block;
  }

  .back-btn {
    display: inline-block;
  }

  .header-info {
    position: absolute;
    left: 110px;
    right: 70px;
    top: 0;
    bottom: 0;
    input {
      background-color: #273950;
      height: 100%;
      border: none;
      border-radius: 0;
      margin: 0 auto;
      display: block;
      color: white;
      text-align: center;
    }

  }

  .minimize-btn {
    float: right;
    margin-right: 0;

    .fa-chevron-up {
      display: none;
    }

    &.active {
      .fa-chevron-down {
        display: none;
      }
      .fa-chevron-up {
        display: inline;
      }
    }

  }

}

.settings-content {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow-x: scroll;
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;

  &.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
  }

  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);

}

.color-bubble {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  border-radius: 12px;
}

.settings-sub-content {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow-x: scroll;
  z-index: 2;
  transition: left 0.5s;
  //  -webkit-transition: -webkit-transform 0.5s;

  //  transform: translate(100%, 0);
  //  -webkit-transform: translate(100%, 0);
  &.active {
    left: 0;
  }
}

.settings-view {
  background: #323232;
  position: fixed;
  bottom: -$settings-height;
  width: 100%;
  height: $settings-height;

  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  transform: translatez(0);

  transition: bottom 0.5s ease;
  transition-property: bottom, visibility;
  visibility: hidden;

  .active & {
    &.active {
      visibility: visible;
      bottom: 0;
    }
  }

  a {
    text-decoration: none;
  }

}

$add-view-height: 140px;

.add-view {
  background: #2D3C4D;
  position: fixed;
  bottom: -$add-view-height;
  width: 100%;
  height: $add-view-height;
  transition: bottom 0.5s;

  &.active {
    bottom: 0;
  }

  > div:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
    float: left;
    width: 50%;
    text-align: center;

    &.close-btn {
      float: none;
      width: 100%;
    }
  }

}

ul.settings {
  font-weight: 300;
  > li {
    border-bottom: 1px solid #444444;

    &.active, &:focus {
      background: $color-j;
      border-bottom: 1px solid transparent;
    }
  }

  > li > a {
    color: white;
    display: block;
    //    height: 30px;
    padding: 1em 1em;
    margin: 0;

    img {
      height: 18px;
    }
  }

  .value {
    float: right;

    img {
      margin-top: -2px;
    }
  }

  .meta {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    font-size: 0.9em;
  }
}

ul.font-list {
  > li {
    width: 50%;
    display: block;
    float: left;
    border: none;

    &.active {
      border: none;
    }

    > a {
      text-align: center;
    }

  }

  &:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
}

.font-family-options {
  text-align: center;
  height: 100%;

  a {
    display: inline-block;
    height: 100%;

    &.btn-bold {
      font-weight: bold;
    }

    &.btn-italic {
      font-style: italic;
    }

    &.disabled {
      opacity: 0.4;
    }

    &.active {
      color: $color-j;
    }
  }
}

.text-align {
  ul {
    > li {
      text-align: center;
      display: inline-block;
      width: 33.3333%;
      padding: 1em 0;
      color: white;

      &.active {
        background-color: $color-j;
      }
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.font-size, .line-height {
  display: inline-block;
  width: 50%;
  text-align: center;

  .button {
    width: 25px;
  }

  .decrease-button {
    float: left;
    display: block;
  }

  .increase-button {
    float: right;
  }
}

.inner-content {
  position: absolute;
  top: 0;
  bottom: -100px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.product-viewer-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  //  margin-top: -1 * $nav-bar-height;
}

.svg-text-editor {
  //  transform: rotateZ(-4.39844571389983deg);
  //  -webkit-transform: rotateZ(-4.39844571389983deg);
}

.editing {
  .configuration-handle {
    display: none;
  }

  .configuration-boundary {
    stroke-opacity: 0.8;
  }
}

.text-configuration-viewer .text-renderer {
  cursor: pointer;
}

.slider-label {
  text-align: left;
  padding: 1em 20px 0 20px;
  color: white;
  font-size: 0.9em;
}

/* line 26, ../sass/_categorize.scss */
.slider-wrapper {
  position: relative;
  margin-top: 15px;
  padding: 0 20px;
  margin-bottom: 5px;
}

.slider {
  height: 1px;
  background: rgba(222, 222, 222, 0.44);
}

/* line 32, ../sass/_categorize.scss */
.slider-bar {
  top: 0;
  height: 1px;
  background: #FFFFFF;
}

/* line 37, ../sass/_categorize.scss */
.slider-handle {
  top: -8px;
}

/* line 41, ../sass/_categorize.scss */
.slider-handle .inner-handle {
  width: 17px;
  height: 17px;
  border: 5px solid transparent;
  border-radius: 25px;
  background: #FFFFFF;
  display: block;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  transform: translatez(0);
}

.hsb-color-selector {
  .color {
    display: inline-block;
    height: 30px;
  }
}

.filter-presets {
  position: absolute;
  top: 30px;
  bottom: 0;
  overflow-y: hidden;

  > li {
    height: 100%;
    display: inline-block;
    margin-right: 1px;
  }

  img.filtering {
    visibility: hidden;
  }
}

.color-picker-wrapper {
  background-color: rgba(15, 21, 29, 0.81);
  display: block;
  height: 100%;
}

.color-picker {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.fill-settings {
  width: 30px;
  position: absolute;
  top: 30px;
  left: 0;

  a {
    color: white;
    display: block;
    text-align: center;
    padding: 8px 0;
    background-color: rgba(15, 21, 29, 0.81);
    font-size: 14px;

    .fa-square-o {
      display: inline;
    }
    .fa-square {
      display: none;
    }

    &.active {
      .fa-square-o {
        display: none;
      }
      .fa-square {
        display: inline;
      }
    }

  }
}

//.last-used-colors {
//  position: absolute;
//  text-align: center;
//  left: 0;
//  bottom: 0;
//  background: rgb(20, 28, 37);
//  top: 30px;
//  width: 30px;
//
//  .color-bubble {
//    display: block;
//    margin: 8px auto;
//  }
//}

.color-picker-palette {
  display: inline-block;
}

.color-picker-hue {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  .color-picker-hue-bar {
    width: 30px !important;
  }
}

.color-picker-circle {
  z-index: 4;
  > div {
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid gray;
    border-radius: 7px;
    top: -7px;
    left: -7px;
    pointer-events: none;
  }

  span {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    display: block;
    border-radius: 7px;

  }
}

.color-picker-hue-slider {
  position: absolute;
  pointer-events: none;

  > div {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    top: -8px;
    border: 5px solid transparent;
    border-radius: 25px;
    background: #FFFFFF;
    display: block;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    transform: translatez(0);
  }
}

.col-2 {
  display: inline-block;
  width: 50%;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.module-loader {
  > .content {
    padding-top: 50px;
    width: 100%;
  }
}

.appearances {
  > li {
    display: inline-block;
    width: 50%;
    position: relative;

    img {
      width: 100%;
      display: block;
    }

    .label {
      color: white;
      text-align: center;
      width: 100%;
      background-color: #141431;
      padding: 1em 0;

    }

  }
}

.preset-list {

  > li > a {
    height: 200px;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid gray;
    img {
      width: 100%;
      margin-top: -40px;
    }
  }

}