@font-face {
  font-family: 'MuseoSlab-300';
  src: url('../fonts/Museo_Slab_300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Museo_Slab_300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Museo_Slab_300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/Museo_Slab_300.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/Museo_Slab_300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Museo_Slab_300.svg#MuseoSlab-300') format('svg'); /* Legacy iOS */
}