* {
  outline: none;
  box-sizing: border-box;
  line-height: 1.2; }

html {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100%;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #d9dbda; }

.bikoblack {
  position: absolute;
  font-family: "bikoblack";
  /*visibility: hidden;*/ }

.dense {
  position: absolute;
  font-family: "denseregular";
  /*visibility: hidden;*/ }

.product-viewer {
  position: relative;
  max-width: 1000px;
  width: 100%;
  transform: translateZ(0); }

.print-area-viewer {
  pointer-events: none; }

.container {
  max-width: 1000px; }

.move-handle {
  position: absolute;
  color: white;
  top: 0;
  right: -40px;
  height: 40px;
  width: 40px;
  background-color: #05AD56; }

.delete-handle {
  position: absolute;
  left: -32px;
  top: 0;
  height: 32px;
  width: 32px;
  background-color: red;
  color: white; }

.active > .configuration-boundary {
  stroke: #05AD56;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 1 2; }

.configuration-handle {
  fill: white;
  stroke: #05AD56;
  stroke-width: 1;
  vector-effect: non-scaling-stroke; }

.nav-bar {
  background: #05AD56;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background: black;
  height: auto; }

.settings-header {
  background-color: #eeeeee;
  height: 30px;
  border-bottom: 1px solid #EAEAEA; }

.settings-content {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  bottom: 0;
  background: white;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow-x: scroll;
  transition: transform 0.5s;
  transform: translate(-100%, 0); }
  .settings-content.active {
    transform: translate(0, 0); }

.settings-sub-content {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  bottom: 0;
  background: white;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  overflow-x: scroll;
  z-index: 2;
  transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0); }
  .settings-sub-content.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0); }

.settings-view {
  background: white;
  transform: translate(0, 224px);
  -webkit-transform: translate(0, 224px);
  -moz-transform: translate(0, 224px);
  -ms-transform: translate(0, 224px);
  -o-transform: translate(0, 224px);
  height: 224px;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s; }
  .settings-view.active {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  .settings-view.minimize {
    transform: translate(0, 194px);
    -webkit-transform: translate(0, 194px);
    -moz-transform: translate(0, 194px);
    -ms-transform: translate(0, 194px);
    -o-transform: translate(0, 194px); }

.settings-view {
  position: fixed;
  bottom: 0;
  width: 100%; }
  .settings-view .nav-tabs li {
    display: inline-block; }
    .settings-view .nav-tabs li.active {
      background-color: #222; }
  .settings-view .nav-tabs a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 8px 13px; }
  .settings-view .tab-content {
    background-color: #222; }
  .settings-view a {
    text-decoration: none; }

ul.settings > li {
  border-bottom: 1px solid lightgray; }
  ul.settings > li.active a {
    color: white;
    background: #05AD56; }

ul.settings > li > a {
  color: black;
  display: block;
  font-size: 0.8em;
  padding: 10px 16px; }

ul.settings .value {
  float: right; }

.font-family {
  padding-top: 1px; }
  .font-family ul.fonts {
    color: white;
    display: block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 30px;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    overflow-x: scroll; }
    .font-family ul.fonts > li {
      display: inline-block;
      width: 70px;
      height: 30px;
      padding: 6px 0; }
      .font-family ul.fonts > li.active {
        background-color: #05AD56; }

.text-align ul > li {
  font-size: 0.8em;
  text-align: center;
  display: inline-block;
  width: 33%;
  padding: 10px 0; }
  .text-align ul > li.active {
    background-color: #05AD56;
    color: white; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.font-size, .line-height {
  display: inline-block;
  width: 50%;
  text-align: center; }
  .font-size .button, .line-height .button {
    width: 25px; }
  .font-size .decrease-button, .line-height .decrease-button {
    float: left;
    display: block; }
  .font-size .increase-button, .line-height .increase-button {
    float: right; }

.view-content {
  position: absolute;
  top: 0;
  bottom: -100px;
  left: 0;
  right: 0;
  overflow: hidden; }

.product-viewer-wrapper {
  position: absolute;
  left: 50%;
  margin-top: -44px; }

.editing .configuration-handle {
  display: none; }

.editing .configuration-boundary {
  stroke-opacity: 0.8; }

.text-configuration-viewer .text-renderer {
  cursor: pointer; }

/* line 26, ../sass/_categorize.scss */
.slider-wrapper {
  position: relative;
  margin-top: 20px;
  padding: 0 20px; }

.slider {
  border-bottom: 1px solid #f0f0f0; }

/* line 32, ../sass/_categorize.scss */
.slider-bar {
  top: -11px;
  height: 1px;
  background: #0099CC; }

/* line 37, ../sass/_categorize.scss */
.slider-handle {
  top: -12px; }

/* line 41, ../sass/_categorize.scss */
.slider-handle .inner-handle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #0099CC;
  display: block;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  transform: translatez(0); }

.slider {
  height: 20px; }

.hsb-color-selector .color {
  display: inline-block;
  height: 30px; }

.filter-presets > li {
  display: inline-block;
  margin-right: 5px; }

.filter-presets img.filtering {
  visibility: hidden; }

.color-picker-palette {
  display: inline-block; }

.color-picker-hue {
  display: inline-block; }
  .color-picker-hue .color-picker-hue-bar {
    width: 30px !important; }
