.basket {
  background: rgba(255, 255, 255, 0.97);;
  color: $color-dark1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);

  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;

  &.active {
    -webkit-transform: translate3d(0, 0, 0);
  }

  .header .back-btn {
    position: absolute;
    right: .25em;
    top: 0;
    color: black;
    padding: 1em;
  }

  display: flex;
  flex-direction: column;

  .basket__content {
    flex: 1 0 auto;
    overflow: hidden;
    position: relative;
  }

  .basket__items {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    border-top: 1px solid lightgray;
  }

  &__updating {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(white, 0.6);

    .lovetab {
      width: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -50px;
    }
  }

  .basket__item {
    display: flex;
    padding: 1em;
    border-bottom: 1px solid lightgray;

    &:last-child {
      border-bottom: 0 none;
    }
  }

  .basket__item-options {

    flex-grow: 1;

    > * {
      margin: 1em 0;
    }
  }

  .basket__item-actions {

    text-align: right;

    a {
      font-size: 1.2em;
      padding: .75em;

      &:last-child {
        padding-right: .25em;
      }
    }

  }

  .basket__item-size {
    position: relative;

    > .btn {
      position: relative;
      background: white;
      width: 100%;
    }
  }

  .basket__item-quantity {

    position: relative;
    height: 31px;

    input {
      padding: 0.5em;
      position: absolute;
      height: 31px;
      width: 100%;
      border-radius: 2px;
      display: block;
      border: 1px solid lightgray;
    }
  }

  .basket__item-price {
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
  }

  .basket__item-image {
    flex: 1 1 auto;
    max-width: 50vw;

    img {
      width: 100%;
    }
  }

  .header {
    position: relative;
    overflow: hidden;
    padding-top: 0 !important;
  }

  .header,
  .basket__footer{
    flex: 0 0 auto;
    padding: 1em;
    border-top: 1px solid lightgray;
  }

  .basket__summary {
    margin-bottom: 1em;

    > div {
      display: flex;
    }

    label {
      flex-grow: 1;

      + div {
        padding: 0.25em 0;
      }
    }
  }

  .basket__discount-price {
    border-bottom: 1px dashed lightgray;
    padding-bottom: .5em;
    margin-bottom: .5em;

    color: $color-brand;
  }

  .basket__total-price {
    flex-grow: 1;
    text-align: right;

    margin-left: 1em;
    font-size: 1.3em;
    font-weight: bold;
    white-space: nowrap;
  }

  .fa-shopping-cart {
    margin-right: 0.5em;
  }

  .basket__btn-wrapper {
    text-align: right;

    background: url(https://image.spreadshirtmedia.net/Public/Media/footer/elements/payment_de_4.png) no-repeat 0 10px;
    background-size: 44%;

    .btn {
      padding: 1em 2em;
    }
  }

}