.btn {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  text-align: center;
  border: 1px solid transparent;
  font-size: inherit;

  > select {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    font-size: inherit;
    padding-left: 0.7em;
    background-color: transparent;
    border: none;
  }

  &.disabled {
    opacity: 0.7;
  }

  &.with-absolute-icon-right {
    position: relative;

    > i {
      position: absolute;
      right: 10px;
    }

  }

}

.btn-secondary {
  background-color: $color-gray;
  color: white;
  font-weight: 300;
}

.btn-green, .btn-success {
  background-color: $color-green;
  color: white;
}

.btn-success {
  font-weight: 600;
}

.btn-white {
  background: white;
  border-color: $color-lightgray;
  color: $color-dark1;
}

.btn-whitesmoke {
  background: whitesmoke;
  color: $color-dark1;
  border-color: $color-lightgray;
}

.btn-orange {
  background: $color-orange;
  border-color: lighten($color-orange, 10%);
  color: white;

}