.simple-text-editor {
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.94);
  display: none;

  &.active {
    display: block;
  }

  &.dark {
    background: rgba(9, 9, 9, 0.9);


    .simple-text-editor__buttons {
      background: black;
      color: white;
    }

  }

  .fa {
    position: relative;
    left: -2px;
  }

  &.bright {
    background: rgba(255, 255, 255, 0.94);

    .simple-text-editor__buttons {
      background: white;
      color: black;
    }

  }

  textarea {
    color: rgb(0, 0, 0);
    width: 100%;
    -webkit-appearance: none;
    border: none;
    padding: 50px 30px 20px;
    font-size: 2em;
    background: none;
  }


  &__buttons {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 12px;
    text-align: right;

    a {
      padding: 10px;
      display: inline-block;
    }

    > * {
      margin-left: 10px;
    }
  }
}