.loading-overlay {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.3);
  background-size: 50px;

  &__box {
    background: rgba(0, 0, 0, 0.76) url(../img/loader.gif) no-repeat center 20px;
    background-size: 30px;
    border-radius: 10px;
    padding: 70px 15px 15px;
    width: 70%;
    margin: 60% auto;

  }

  &__message {
     text-align: center;
     color: white;

  }

}