.loading-overlay {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(255,255,255, 0.6);

  font-size: 1.3em;

  .lovetab {
    width: 80px;
    height: 80px;
  }
  &__box {

     //background: white;
    //background-size: 30px;
    border-radius: 2px;
    padding: 40px 15px 15px;
    width: 70%;
    margin: 60% auto;
    position: relative;
    text-align: center;
  }

  &__message {
     text-align: center;
     color: black;
  }

}
